@charset "utf-8";
/* CSS Document */

.mr-1 {
	margin-right: 1rem;
}

.ml-1 {
	margin-left: 1rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.subtitle {
	font-size: 3rem;
	font-weight: bolder;
}

.textFrom {
	background-image: url("../img/search bar plane take off.png");
	background-repeat: no-repeat;
    background-size: 50px;
	
	border: solid medium grey;
	
	height: 35px;
}

.textWhere {
	background-image: url("../img/search bar plane landing.png");
	background-repeat: no-repeat;
    background-size: 50px;
	
	border: solid medium grey;
	
	height: 35px;
}

::placeholder {
	padding-left: 65px;
}

.sponsors {
	margin-left: 20px;
	margin-right: 20px;
}